# dependencies
/node_modules

# next.js build output
/.next/
/out/
/build

# local environment variables (CRITICAL)
.env
.env*.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store